.item {
  display: flex;
  align-items: center;
  width: 280px;
  padding: 10px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.avatar {
  margin-right: 30px;
  background-color: #eff5b3;
  border-radius: 4px;
}

.name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.12;
}

.status {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 50%;
}

.online {
  composes: status;
  background-color: green;
}

.offline {
  composes: status;
  background-color: red;
}
