.statistics {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.title {
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.12;
  text-transform: uppercase;
}

.stat__list {
  display: flex;
  justify-content: center;
  align-items: center;
}